@inject UserManager<UsuarioModel> UserManager

@{
    ViewData["Title"] = "Excluir Conta";
    Layout = "_LayoutSecundario";

    UsuarioModel? usuario = await UserManager.GetUserAsync(User);
    int Id = usuario != null ? usuario.Id : 0;
}
            <div class="col-md-7 col-lg-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="fw-bold mb-2 text-uppercase">Excluir Conta</h3>
                        <p class="text-white-50 mb-4">Você tem certeza que deseja excluir sua conta?</p>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        
                        <div class="alert alert-danger" role="alert">
                           Atenção! Esta ação é permanente e não pode ser desfeita. Todos os seus dados serão removidos.
                        </div>

                        <form asp-action="ExcluirUsuario" asp-route-Id="@Id" method="post">

                            <div class="d-grid gap-2">
                                <button class="btn btn-danger btn-lg" type="submit">Sim, quero excluir minha conta</button>
                                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg">Cancelar</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
