@model BibliotecaPessoal.Dto.LoginModelDto
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutSecundario";
}

            <div class="col-md-7 col-lg-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <h3 class="fw-bold mb-2 text-uppercase text-center">Biblioteca Pessoal 📚</h3>
                        <p class="text-white-50 mb-3 text-center">Por favor, insira seu email e senha!</p>

                        <form asp-action="Login" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="Email">E-mail</label>
                                <input type="email" id="Email" name="Email" class="form-control form-control-lg" asp-for="@Model.Email" required />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="Senha">Senha</label>
                                <input type="password" id="Senha" name="Senha" class="form-control form-control-lg" required />
                            </div>

                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" asp-for="LembrarMe" />
                                <label class="form-check-label px-2" asp-for="LembrarMe"> Lembrar-me </label>
                            </div>

                            <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">Esqueceu a senha?</a></p>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg px-5" type="submit">Login</button>
                            </div>
                        </form>
                         <hr class="my-4">
                        <div>
                            <p class="mb-0 text-center">Não tem uma conta? <a asp-controller="Usuario" asp-action="Cadastrar" class="text-white-50 fw-bold">Cadastre-se</a></p>
                        </div>

                    </div>
                </div>
            </div>